%h2
    .overhead Edit your Visit Record
    = @graveyard.name

%p
    This lets you record the fact that you've been to this cemetery
    at least once - or intend to in the future.
    You'll be able to see at a glance which graveyards you've visited.

= render 'form'
= render 'delete_form'
