:ruby
    @map_url = map_url_for(@county) + ".json"

#map-wrapper
    #map

#selector-wrapper
    %h1.titlebar
        .above Map of Cemeteries in
        .below="#{@county.fancy_name_with_state}"
    .instructions
        Click to jump to loation.
    %ul.location-selector#location-selector
        //- @graveyards.each do |g|
        - [].each do |g|
            - located = g.located?
            - klasses = [ located ? 'located' : 'not-located' ] 
            - url = g.to_url.to_s + ( located ? '.kml' : '' )
            %li{:class=>klasses}
                %a{:href=>url, :id=>"link-#{g.id}"}=g.name
    .clear

:coffeescript
    jQuery ->
        #locations = window.locations = new GraveLocationsCollection()


        map = window.mapPage = new GraveyardMapPage
            mapId: 'map'
            url: "#{@map_url}"
            boundary: #{@county.encoded_boundary.to_json rescue 'null' }

        #m.importLocations(window.mapLocations)
        #m.finishSetup()


%script#info-window-template{type: "text/x-handlebars-template"}
    .graveyard-info-window
        %h2='{{name}}'
        %a{href: "{{url}}", target: '_blank'} More information...
