
.container
    %h1=@state.name

.container
    %ul
        - @state.counties.sort_by(&:name).each do |c|
            %li
                %a{href: '/'+c.full_path, :title=>"#{c.fancy_name_with_state} Cemeteries"}
                    = c.fancy_name_with_state
                Cemetery List
