:ruby
    all_counties = @state.counties.sort_by(&:name)
    columns = all_counties.in_groups(2, false)

.container
    %h1=@state.name

.container
    .row
        - columns.each do |column|
            .col-md-6
                - locals = { state: @state, counties: column, name_format: "Cemeteries in %s" }
                = render partial: "graveyards/state_index_table", locals: locals
