:ruby
    graveyards = @county.graveyards.sort_by(&:name)

.container
    %h1="Cemeteries and Graveyards in #{@county.fancy_name_with_state}"

    - graveyards.each do |g|
        %div
            %a{:href=>g.to_url}=g.name





