//
// COUNTIES / SHOW - show graveyards in a county
//
//      @county County
//      @graveyards Array
//
// view: /counties/show.html.haml 
// urls:
//      /Illinois/Cook
//      /Missouri/St_Louis_City etc
//
:ruby
    county_name = @county.fancy_name_with_state

= render :partial => "counties/county_header", :locals => { :overhead => 'Cemeteries and Graveyards in'}


/ THE COLUMNS.
/ This doesn't use bootstrap, but rather html5 columns, with the number dynamically
/ chosen according to math involving screen width, column and gutter width.
.column-container
    .column-set
        - @graveyards.each do |g|
            - pic = g.main_photo 
            - klasses = [ 'cell', pic ? 'with-pix' : 'no-pix' ] 
            %div{:class=>klasses.join(' ')}
                - if pic
                    .cell-top
                        .thumbnail-box
                            %a{:href=>g.to_url }
                                %img{:src=> pic.thumbnail_path, :alt=>"#{g.name} in #{county_name}" }
                .cell-main
                    %a{:href=>g.to_url }=g.name
                - if !pic
                    .no-pix-msg 
                        photos not available
        .clear
    .clear

