

= @chapter.inspect
%br
= @chapter.graveyard.inspect
%br
= @graveyard.main_photo.inspect


.container
    .row
        .col-md-6
            .inverse
                .text-center
                    %img{src: "/images/book/spine-third.png", alt: "Graveyards of Chicago"}
