.container
    .row
        .col-md-8
            %img#main-title{:src=>"/images/title/title.jpg", :alt=>"Graveyards.com"}
        .col-md-4
            %h1.text-center graveyards.com
            %p
                Welcome to
                = succeed '.' do
                    %strong graveyards.com version 4.0

            %p
                Though it may look a bit different, the content is still here.
                Go to
                %a{href: url_for(:controller=>:graveyards)} Cemetery Lists
                to browse listings of cemeteries by state and county, or
                %a{href: '/featured/'} Featured Sites
                for the original 1990s-era
                %i Graveyards of Chicago.

            .text-right
                %a{href: 'http://www.facebook.com/graveyards'}
                    %img{src: "/images/icons/32/facebook.png", alt: "Follow on Facebook"}
                %a{href: 'http://twitter.com/graveyards_com'}
                    %img{src: "/images/icons/32/twitter.png", alt: "Follow on Twitter"}
            //%p.text-muted.text-right
            //    buttons - facebook twitter etc
    .row

.container
    %br

.container

    .row
        .col-md-4
        .col-md-4.text-center#book-box
            %h3.text-muted
                the book:
            %h2#book-title
                Graveyards of Chicago:
            %h3#book-sub-title
                The People, History, Art, and Lore of Cook County Cemeteries
                %br
            %p
                by Matt Hucke & Ursula Bielski

            %p Second Edition - October 2013

            %a{href: '/book'}
                Learn More...
        .col-md-4.text-center
            %a{href: '/book'}
                %img#book-cover{:src=>"/images/book/front-cover-400.jpg", :alt=>"Graveyards.com"}

    .row

.clear
