:ruby
    #
    # used in graveyards/index, this shows the list of counties in one state.
    #
    counties ||= state.counties.sort_by(&:name)

    # name_format lets us mix it up a bit for SEO...
    name_format ||= "%s Cemeteries"

%ul.cemetery-list
    - counties.each do |c|
        %li
            %a{href: c.to_url, :title=>"#{c.fancy_name_with_state} Cemetery List and Photos"}
                = name_format % [ c.fancy_name_with_state ]
            =raw '&mdash;'
            - if current_user && @visit_summary
                %span.nobr
                    - if s = @visit_summary.get(c.id)
                        - if s.visited.to_i > 0
                            %span.flag-visits-visited
                                %span.glyphicon.glyphicon-flag
                                =s.visited.to_i
                        - else
                            %span.flag-visits-none
                                %span.glyphicon.glyphicon-flag
                                0
                        - if (todo=s.todo.to_i) > 0
                            %span.flag-visits-todo
                                %span.glyphicon.glyphicon-flag
                                %strong=todo.to_i
                    %em="/ #{c.graveyards_count}"
            - else
                %em=c.graveyards_count