//
// COUNTY_CEMETERY_LISTS / SHOW - show graveyards in a county, in a simple tabular format

= render :partial => "counties/county_header", :locals => { :overhead => 'List of Cemeteries in', :active=>'list'}

.container
    %table.table
        %thead
            %tr.headrow
                %th Cemetery Name
                %th Latitude
                %th Longitude
                %th Topo Map
        %tbody
            - @county.graveyards.each do |g|
                - g = g.decorate
                - pic = g.main_photo
                %tr
                    %td
                        %a{href: g.to_url}=g.name
                    %td= g.lat_or_unknown
                    %td= g.lng_or_unknown
                    %td=g.usgs_map
