:ruby
    visits = @expedition.visits.includes(:graveyard => [ :main_photo, :county]).order(:visited_on, :ordinal)

.container
    .row
        %h1= @expedition.name

    .row
        %table.table.sortable-table#expedition-visits
            %thead
                %tr.headrow
                    %th Visited On
                    %th County
                    %th Graveyard
                    %th Pic
            %tbody
                - visits.each do |v|
                    - graveyard=v.graveyard
                    %tr
                        %td=v.visited_on
                        %td=graveyard.county.fancy_name rescue "no county"
                        %td
                            %a{href: url_for(graveyard)}=graveyard.name
                        %td
                            - if graveyard.main_photo
                                %img.pull-left{src: graveyard.main_photo.thumbnail_path}


= link_to 'Edit', edit_expedition_path(@expedition)
\|
= link_to 'Back', expeditions_path
