// Place all the styles related to the counties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials/base";

#county-header {
  nav {
    .btn {
      width: 3em;
      padding: 4px;
      .caption {
        white-space: normal !important;
        font-size: 80%;
        height: 2em;
        line-height: 1.0;
        vertical-align: bottom;
      }
    }
  }

}

#counties-show {
}


$VISITED_COLOUR: #daa520; /* goldenrod */
$TODO_COLOUR: darkblue;
$NO_VISITED_COLOUR: #aaa; /* light grey */

.cell.visits-visited {
  border-color: black;
  background:  #ffa;
  .cell-bottom  { color: $brand-primary * 0.5;  }
  a.visit-details {
    color: $VISITED_COLOUR;
  }
}

.cell.visits-todo {
  border-color: black;
  background:  #def;
  .cell-bottom  { color: $TODO_COLOUR;  }
  a.visit-details {
    color: $TODO_COLOUR;
  }
}

#symbol-key {
  ul {
    margin: 4px; padding: 0;
    font-size: 16px; list-style-type: none; text-align: left !important;
    li { padding: 2px 0;}
  }
  li.visits-visited { color: $VISITED_COLOUR; }
  li.visits-todo { color: $TODO_COLOUR; }
  li.visits-none { color: $NO_VISITED_COLOUR; }
}

.cell.visits-none {
  a.visit-details {
    color: $NO_VISITED_COLOUR;
  }
}

