// Place all the styles related to the counties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials/base";

#county-header {
  nav {
    .btn {
      width: 3em;
      padding: 4px;
      .caption {
        white-space: normal !important;
        font-size: 80%;
        height: 2em;
        line-height: 1.0;
        vertical-align: bottom;
      }
    }
  }

}

#counties-show {
}



.cell.visits-visited {
  border-color: black;
  background:  #def;
  .cell-bottom  { color: $brand-primary * 0.5;  }
}

.cell.visits-todo {
  border-color: black;
  background:  #ffa;
  .cell-bottom  { color: $TODO_COLOUR;  }
}
.graveyard.visits-none {
}

/* the link colours are used on counties/index and on /visits */
.visits-none a.visit-details  {
  color: $NO_VISITED_COLOUR;
}

.visits-todo a.visit-details {
  color: $TODO_COLOUR;
}
.visits-visited a.visit-details {
  color: $VISITED_COLOUR;
}

/* used in symbol key and in the popup form */
li.visits-visited, .flag-visits-visited { color: $VISITED_COLOUR; }
li.visits-todo, .flag-visits-todo { color: $TODO_COLOUR; }
li.visits-none, .flag-visits-none { color: $NO_VISITED_COLOUR; }

#symbol-key {
  ul {
    margin: 4px; padding: 0;
    font-size: 16px; list-style-type: none; text-align: left !important;
    li { padding: 2px 0;}
  }
}



