@import "partials/base";

// 768px, 992px, 1200px

/* page layout */
body  {

}


#wrap {
  min-height: 100%;
  // height: auto !important;
  margin: 0 auto 50px;

  a { font-weight: bold; }
  a.external { border-bottom: 1px dotted #060; }
}

#top-padding { height: $navbar-height + 12px; }

/* NAV BAR */
.navbar-brand {
  #logo { height: 32px; }
  padding-top: 8px;
}

.inverse {
  color: white;
  // background: url(/images/backgrounds/dkmarble.jpg);
}

.navbar .caret {
  font-size: 200%;
}

#main-navbar, .navbar-inverse {
  background: url(/images/backgrounds/dkmarble.jpg);
}

#main-navbar .in {
  background: url(/images/backgrounds/dkmarble.jpg);
}
.navbar, .navbar-inverse, .navbar-nav, .navbar-form, .navbar .navbar-collapse {
  //
}

.in .navbar-nav {

}

@media (min-width: 992px) {
  .navbar-brand {
    #logo { height: 48px; }
    padding-top: 6px;
  }
  .navbar-nav li a {
    padding: 12px;
  }
}

#top-avatar {
  margin: -8px 0 -10px;
  max-height: 50px;
  max-width: 50px;
}



#top-search-form {
  #top-search-field { max-width: 150px; }
  input, button { float: left; margin-right: 0.5em;}

}

#breadcrumbs {
  font-size: 90%;
  margin: -8px 0 0px;
  .separator { color: #888; font-size: 120%; line-height: 80%;}
  a, strong { border-bottom: 1px dotted #888; }
}

/* MODALS */
.modal .inverse .close {
  color: white !important;
}

/* FOOTER */

footer {
  min-height: 36px;
  position: fixed;
  bottom: 0; left: 0; right: 0;
  font-size: 15px;
  background: url(/images/backgrounds/dkmarble.jpg);
  color: #999;
  a:link, a:hover, a:visited { color: white; text-decoration: underline;}
  line-height: 1;
}

/* MOBILE OVERRIDES */
@media #{$MEDIA_XS} {
  #wrapd { margin-bottom: 0 }

  .navbar { height: 22px; }
  #logo { height: 35px; }

  footer { position: static; height: auto; min-height: auto;}
}

/*
 When in Medium mode - only - the navbar is uncollapsed but very
 crowded.  Make the links at top flow onto separate lines.
 */
@media #{$MEDIA_MD} {

  // All navbar stuff including links in pulldown menu
  .navbar-nav li {
    padding: 0 8px;
    a {
      line-height: 1.0;
      font-size: 16px;
    }
  }

  // TOP LEVEL only
  .navbar-nav > li > a {
    padding: 8px 0 0;
    text-align: center;
    max-width: 80px;
  }
}

.modal-body h2 {
  margin-top: 0;
}

/* flash area.  #status-messages is always present, even if empty */
#status-messages > div {
  font-size: 24px;
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid #888;
  background: #eee;
}