@import "partials/base";

// 768px, 992px, 1200px


/* utility */
.clear { clear: both; }
.nobr { white-space: nowrap }

.yellow-back { background: yellow; }
.green-back { background: lightgreen; }
.pink-back { background: pink; }

.p0 { padding: 0 !important; }
.p1 { padding: 0.5em; }
.p2 { padding: 1em; }
.p3 { padding: 1.5em; }

.m0 { margin: 0 !important; }
.m1 { margin: 0.5em; }

/* page layout */
body  {
}


#wrap {
  min-height: 100%;
  // height: auto !important;
  margin: 0 auto 50px;

  a { font-weight: bold; }
  a.external { border-bottom: 1px dotted #060; }
}

#top-padding { height: $navbar-height + 12px; }

/* NAV BAR */
.navbar-brand {
  #logo { height: 32px; }
  padding-top: 8px;
}


@media (min-width: 992px) {
  .navbar-brand {
    #logo { height: 48px; }
    padding-top: 6px;
  }
  .navbar-nav li a {
    padding: 12px;
  }
}

.navbar, .navbar-inverse, .navbar-nav, .navbar-form, .navbar .navbar-collapse {
  background: url(/images/backgrounds/dkmarble.jpg);
}

.inverse {
  color: white;
  background: url(/images/backgrounds/dkmarble.jpg);
}

#top-search-form {
  #top-search-field { max-width: 150px; }
  input, button { float: left; margin-right: 0.5em;}

}

#breadcrumbs {
  font-size: 90%;
  margin: -8px 0 0px;
  .separator { color: #888; font-size: 120%; line-height: 80%;}
  a, strong { border-bottom: 1px dotted #888; }
}

/* FOOTER */

footer {
  min-height: 36px;
  position: fixed;
  bottom: 0; left: 0; right: 0;
  font-size: 15px;
  background: url(/images/backgrounds/dkmarble.jpg);
  color: #999;
  a:link, a:hover, a:visited { color: white; text-decoration: underline;}
  line-height: 1;
}

/* MOBILE OVERRIDES */
@media #{$MEDIA_XS} {
  #wrapd { margin-bottom: 0 }

  .navbar { height: 22px; }
  #logo { height: 35px; }

  footer { position: static; height: auto; min-height: auto;}
}

/*
 When in Medium mode - only - the navbar is uncollapsed but very
 crowded.  Make the links at top flow onto separate lines.
 */
@media #{$MEDIA_MD} {
  .navbar-nav li {
    padding: 0 8px;
    a {
      text-align: center;
      padding: 8px 0 0;
      max-width: 80px;
      line-height: 1.0;
      font-size: 16px;
    }
  }
}

.body-prod .debug { display: none; }

#debug-size {
  z-index: 999;
  position: fixed;
  bottom: 8px;
  right: 4px;
  background: #222;
  padding: 4px;
  font-weight: bold;

  line-height: 1.5em;
  font-size:18pt;
  > div {
    padding: 2px 12px;
    color: white;
    float: left;
  }

  .xs { background: #800; }
  .sm { background: #080; }
  .md { background: #008; }
  .lg { background: #606; }

}