// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#popup-login {
  text-align: center;

  .login-option {
    a { color: black; }
    .icon { max-width: 60%;}
  }
}

