// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome-index {
  #main-title {
    width: 100%;
  }
  #book-box {
    h3 { margin-top: 0.4em; font-size: 140%; }
  }



}

#main-page-top-share {
  text-align: right;
  margin-top: 1em;
}