
%footer#footer
    .container
        .row
            .col-md-5
                #footer-copyright
                    =raw '&copy;'
                    = "Copyright 1996-#{Date.today.year}"
                    %a{href: '/about'} Matt Hucke
                    and other contributors.
            .col-md-7
                #footer-disclaimer
                    This web site, and the book
                    = succeed ',' do
                        %i Graveyards of Chicago
                    are the work of independent enthusiasts and
                    researchers, not affiliated with or endorsed by
                    - if @graveyard
                        = @graveyard.name
                        or any other
                    - else
                        any
                    cemetery shown here.
