%nav#main-navbar.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            %button.navbar-toggle{type: "button", data: { target: ".navbar-responsive-collapse", toggle: "collapse"}}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            %a.navbar-brand.logo{href: "/"}
                %img#logo.img-responsive{alt: "graveyards.com", src: "/images/logo/logo.png"}/
        .navbar-collapse.collapse.navbar-responsive-collapse
            %ul.nav.navbar-nav
                %li
                    %a{href: '/graveyards' } Cemetery Lists
                %li
                    %a{href: '/blog' } Blog
                %li.dropdown
                    %a.dropdown-toggle{href: '#', 'data-toggle'=>'dropdown'}
                        Features
                        %span.caret
                    %ul.dropdown-menu{role: 'menu'}
                        %li
                            %a{href: '/featured' } Featured Sites
                %li
                    %a{href: "/book"} Book
                - if identity=current_identity
                    %li.dropdown
                        %a.dropdown-toggle{href: '#', 'data-toggle'=>'dropdown'}
                            - if identity.avatar.blank?
                                = identity.full_name
                            - else
                                %img#top-avatar{src: identity.avatar, alt: identity.full_name}

                            %span.caret
                        %ul.dropdown-menu{role: 'menu'}
                            %li.p1
                                %a{href: '#'}
                                    %img{src: identity.provider_icon, alt: "Logged in via #{identity.provider}"}
                                    = identity.full_name
                            -#%li
                            -#     %a{href: url_for(controller: :profiles, action: :show)}
                            -#        Your Profile
                            %li
                                %a{href: url_for(controller: :visits, action: :index)}
                                    %span.glyphicon.glyphicon-flag
                                    Graveyards You've Visited
                            %li.divider
                            %li
                                %a{href: url_for(controller: :sessions, action: :destroy)}
                                    %span.glyphicon.glyphicon-log-out
                                    Log Out

                - else
                    %li
                        /%a{href: "/auth/facebook"} Log In
                        %a.login-link{href: url_for(controller: :login, action: :index)} Log In
            %form#top-search-form.navbar-form.navbar-right{role: 'search', action: 'http://www.google.com/search'}
                .form-group
                    %input{type: 'hidden', name: 'sitesearch', value: 'graveyards.com'}
                    %input#top-search-field.form-control{type: 'search', placeholder: 'Search', name: 'q'}
                    %button.btn.btn-primary.btn-small
                        %span.glyphicon.glyphicon-search
                    .clear

