%nav.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            %button.navbar-toggle{type: "button", data: { target: ".navbar-responsive-collapse", toggle: "collapse"}}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            %a.navbar-brand.logo{href: "/"}
                %img#logo.img-responsive{alt: "graveyards.com", src: "/images/logo/logo.png"}/
        .navbar-collapse.collapse.navbar-responsive-collapse
            %ul.nav.navbar-nav
                %li
                    %a{href: '/graveyards' } Cemetery Lists
                %li
                    %a{href: '/featured' } Featured Sites
                %li
                    %a{href: "/book"} The Book
                - if @current_user
                    %li
                        %a= @current_user.full_name
                - elsif Rails.env.development?  # not ready...
                    %li
            //    %a{href: "/auth/facebook"} Log In

            %form#top-search-form.navbar-form.navbar-right{role: 'search', action: 'http://www.google.com/search'}
                .form-group
                    %input{type: 'hidden', name: 'sitesearch', value: 'graveyards.com'}
                    %input#top-search-field.form-control{type: 'search', placeholder: 'Search', name: 'q'}
                    %button.btn.btn-primary.btn-small
                        %span.glyphicon.glyphicon-search
                    .clear

